# This notebook marks the very first julia code I have ever written.

#### In it, I have started by printing hello world, like any new programmer does, then created a 4*2 dataframe and extracted its rows and columns - That is what a typical data scientist might start with, a dataframe. 

#### This marks the beginning of a commitment of exploring julia, a fast growing scientific computing programming language, which finds an important use in the field of big data.

In [3]:
println("Hello world")

Hello world

In [12]:
using Pkg
Pkg.add("DataFrames")

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.8/Project.toml`
  No Changes to `~/.julia/environments/v1.8/Manifest.toml`

In [4]:
#create a 4 by 2 dataframe that is four rows and two columns
using DataFrames
df = DataFrame(A=1:4, b=["m","f","m","f"])

4×2 DataFrame
 Row │ A      b
     │ Int64  String
─────┼───────────────
   1 │     1  m
   2 │     2  f
   3 │     3  m
   4 │     4  f

In [5]:
#obtain the column names

names(df)

2-element Vector{String}:
 "A"
 "b"

In [6]:
#obtaining the columns

df.A

4-element Vector{Int64}:
 1
 2
 3
 4

In [8]:
#there is another way to get the columns
df."b"

4-element Vector{String}:
 "m"
 "f"
 "m"
 "f"